<section class="container-fluid py-5" [@listadoOcultot]="listadoOculto ? 'oculta' : 'mostrar'">
    <article>
        <div class="p-2 mb-1 bg-light-dark rounded-3">
            <div class="container-fluid">
                <app-tabla-usuarios [soloTipoUsuario]="'paciente'" [usuarios$]="usuarios$"
                    (eligioUsuario)="mostrarHistorialUsuario($event)" />
                <small class="text-muted">*Hace doble click sobre un paciente para ver su historial</small>
            </div>
        </div>
    </article>

    <article class="d-flex align-items-center flex-column text-center scrollable mb-2">
        <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
            <app-historial *ngIf="usuarioSeleccionado" [usuario]="usuarioSeleccionado" [mostrarImagenPerfil]="true" />
        </div>
    </article>
</section>