<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr class="table-dark">
                <th scope="col">Nombre</th>
                <th scope="col">DNI</th>
                <th scope="col">Edad</th>
                <th scope="col">Correo electronico</th>
                <th scope="col">Especialidad / Obra social</th>
                <th scope="col">N° Matricula profesional / N° Afiliado</th>
                <th scope="col">Habilitar acceso especialista</th>
                <th scope="col">Tipo de usuario</th>
            </tr>
        </thead>
        <tbody *ngIf="(usuarios$ | async) as usuarios; else loader">
            <ng-container *ngIf="usuarios.length > 0; else noHayUsuarios">
                <ng-container *ngFor="let usuario of usuarios" [ngSwitch]="usuario.tipoUsuario">
                    <tr *ngSwitchCase="'paciente'">
                        <td>{{usuario.nombre}}</td>
                        <td>{{usuario.dni}}</td>
                        <td>{{usuario.edad}}</td>
                        <td>{{usuario.email}}</td>
                        <td>{{(usuario | castToPaciente).obraSocial}}</td>
                        <td>{{(usuario | castToPaciente).nroAfiliado}}</td>
                        <td>-</td>
                        <td>{{usuario.tipoUsuario}}</td>
                    </tr>
                    <tr *ngSwitchCase="'especialista'">
                        <td>{{usuario.nombre}}</td>
                        <td>{{usuario.dni}}</td>
                        <td>{{usuario.edad}}</td>
                        <td>{{usuario.email}}</td>
                        <td>{{(usuario | castToEspecialista).especialidad}}</td>
                        <td>{{(usuario | castToEspecialista).nroMatricula}}</td>
                        <td><input class="form-check-input" type="checkbox" [checked]="usuario.cuentaHabilitada"
                                (change)="habilitarCuenta(usuario)"></td>
                        <td>{{usuario.tipoUsuario}}</td>
                    </tr>
                    <tr *ngSwitchCase="'admin'">
                        <td>{{usuario.nombre}}</td>
                        <td>{{usuario.dni}}</td>
                        <td>{{usuario.edad}}</td>
                        <td>{{usuario.email}}</td>
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>-</td>
                        <td>{{usuario.tipoUsuario}}</td>
                    </tr>
                </ng-container>
            </ng-container>
            <ng-template #noHayUsuarios>
                <tr>
                    <td colspan="8" align="center">No se encontraron usuarios que mostrar.</td>
                </tr>
            </ng-template>
        </tbody>
        <ng-template #loader>
            <tbody>
                <tr>
                    <td colspan="8" align="center">Cargando...</td>
                </tr>
            </tbody>
        </ng-template>
    </table>
</div>