<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr class="table-dark">
                <th class="text-center" scope="col">A cargo del profesional</th>
                <th class="text-center" scope="col">Especialidad</th>
                <th class="text-center" scope="col">Detalle</th>
                <th class="text-center" scope="col">Fecha del turno</th>
                <th class="text-center" scope="col">Estado</th>
                <th></th>
            </tr>
        </thead>
        <tbody *ngIf="(turnos$ | async) as turnos; else loader">
            <ng-container *ngIf="turnos.length > 0; else noHayTurnos">
                <tr class="text-center" *ngFor="let turno of turnos">
                    <td>{{turno.especialista.nombre}}</td>
                    <td>{{turno.especialidad}}</td>
                    <td>{{turno.detalle}}</td>
                    <td>{{turno.fecha_turno | date:'dd/M/Y H:mm'}}</td>
                    <td>{{turno.estado}}</td>
                    <td>
                        <a href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots-vertical mx-auto mb-1"></i></a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" *ngIf="!turno.finalizado() && turno.activo()"
                                    (click)="seleccionarTurno(turno)" data-bs-toggle="modal"
                                    data-bs-target="#modalCancelarTurno">Cancelar</a></li>
                            <li><a class="dropdown-item" *ngIf="turno.existeEncuesta()" data-bs-toggle="modal"
                                    data-bs-target="#modalEncuesta">Ver
                                    reseña</a></li>
                            <li><a class="dropdown-item" *ngIf="!turno.existeEncuesta() && turno.finalizado()"
                                    (click)="seleccionarTurno(turno)" data-bs-toggle="modal"
                                    data-bs-target="#modalEncuesta">Completar encuesta</a></li>
                            <li><a class="dropdown-item" *ngIf="!turno.existeCalificacionTurno() && turno.finalizado()"
                                    (click)="seleccionarTurno(turno)" data-bs-toggle="modal"
                                    data-bs-target="#modalCalificarTurno">Calificar atencion</a></li>
                        </ul>
                    </td>
                </tr>
            </ng-container>
            <ng-template #noHayTurnos>
                <tr>
                    <td colspan="6" align="center">No se encontraron turnos que mostrar.</td>
                </tr>
            </ng-template>
        </tbody>
        <ng-template #loader>
            <tbody>
                <tr>
                    <td colspan="6" align="center">Cargando...</td>
                </tr>
            </tbody>
        </ng-template>
    </table>
</div>
<app-modal-cancelar-turno [soyPaciente]="true" [turno]="turnoSeleccionado" />
<app-modal-calificar-atencion [turno]="turnoSeleccionado" />
<app-modal-encuesta-turno [turno]="turnoSeleccionado" />