<div [ngSwitch]="mostrarFormulario">
    <div *ngSwitchCase="'pacientes'">
        <h2 id="tituloPacientes" class="text-center p-3">Ingreso de Pacientes</h2>
        <form [formGroup]="formularioRegistroPaciente" (ngSubmit)="registrarPaciente()" enctype="multipart/form-data">
            <div class="d-flex justify-content-around mb-4">
                <div class="form-group col-md-5">
                    <label class="labelPacientes" class="labelPacientes" for="nombrePaciente">Nombre del
                        paciente</label>
                    <input type="text" class="form-control" id="nombrePaciente" placeholder="Nombre"
                        formControlName="nombre">
                    <div *ngIf="formularioRegistroPaciente.get('nombre')?.invalid && (formularioRegistroPaciente.get('nombre')?.dirty || formularioRegistroPaciente.get('nombre')?.touched)"
                        class="alert alert-danger py-1 mt-1">
                        <div *ngIf="formularioRegistroPaciente.get('nombre')?.errors?.['required']">
                            El campo nombre es requerido.
                        </div>
                        <div *ngIf="formularioRegistroPaciente.get('nombre')?.errors?.['minlength']">
                            El campo nombre debe contener al menos 6 digitos.
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="labelPacientes" for="apellidoPaciente">Apellido</label>
                    <input type="text" class="form-control" id="apellidoPaciente" placeholder="Apellido"
                        formControlName="apellido">
                    <div *ngIf="formularioRegistroPaciente.get('apellido')?.invalid && (formularioRegistroPaciente.get('apellido')?.dirty || formularioRegistroPaciente.get('apellido')?.touched)"
                        class="alert alert-danger py-1 mt-1">
                        <div *ngIf="formularioRegistroPaciente.get('apellido')?.errors?.['required']">
                            El campo apellido es requerido.
                        </div>
                        <div *ngIf="formularioRegistroPaciente.get('apellido')?.errors?.['minlength']">
                            El campo apellido debe contener al menos 6 digitos.
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-around mb-4">
                <div class="form-group col-md-4">
                    <label class="labelPacientes" for="edadPaciente">Edad</label>
                    <input type="number" class="form-control" id="edadPaciente" placeholder="Edad"
                        formControlName="edad">
                    <div *ngIf="formularioRegistroPaciente.get('edad')?.invalid && (formularioRegistroPaciente.get('edad')?.dirty || formularioRegistroPaciente.get('edad')?.touched)"
                        class="alert alert-danger py-1 mt-1">
                        <div *ngIf="formularioRegistroPaciente.get('edad')?.errors?.['required']">
                            El campo edad es requerido.
                        </div>
                        <div *ngIf="formularioRegistroPaciente.get('edad')?.errors?.['min']">
                            El campo edad debe ser al menos 1.
                        </div>
                        <div *ngIf="formularioRegistroPaciente.get('edad')?.errors?.['max']">
                            El campo edad debe ser como maximo 99.
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-7">
                    <label class="labelPacientes" for="documentoPaciente">DNI</label>
                    <input type="number" class="form-control" id="documentoPaciente" placeholder="N° Documento"
                        formControlName="documento">
                    <div *ngIf="formularioRegistroPaciente.get('documento')?.invalid && (formularioRegistroPaciente.get('documento')?.dirty || formularioRegistroPaciente.get('documento')?.touched)"
                        class="alert alert-danger py-1 mt-1">
                        <div *ngIf="formularioRegistroPaciente.get('documento')?.errors?.['required']">
                            El dni es requerido.
                        </div>
                        <div *ngIf="formularioRegistroPaciente.get('documento')?.errors?.['min']">
                            El DNI debe ser al menos 4.000.000
                        </div>
                        <div *ngIf="formularioRegistroPaciente.get('documento')?.errors?.['max']">
                            El DNI debe tener como maximo 8 digitos
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-around mb-4">
                <div class="form-group col-md-4">
                    <label class="labelPacientes" for="obraSocial">Obra social</label>
                    <input type="text" class="form-control" id="obraSocial" placeholder="Obra social"
                        formControlName="obraSocial">
                    <div *ngIf="formularioRegistroPaciente.get('obraSocial')?.invalid && (formularioRegistroPaciente.get('obraSocial')?.dirty || formularioRegistroPaciente.get('obraSocial')?.touched)"
                        class="alert alert-danger py-1 mt-1">
                        <div *ngIf="formularioRegistroPaciente.get('obraSocial')?.errors?.['required']">
                            El campo Obra social es requerido.
                        </div>
                        <div *ngIf="formularioRegistroPaciente.get('obraSocial')?.errors?.['minlength']">
                            El campo Obra social debe tener almenos 3 digitos.
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-7">
                    <label class="labelPacientes" for="nroAfiliadoPaciente">Numero de afiliado</label>
                    <input type="number" class="form-control" id="nroAfiliadoPaciente" formControlName="nroAfiliado"
                        placeholder="N° Afiliado Obra social">
                </div>
            </div>

            <div class="d-flex justify-content-around mb-4 px-2">
                <div class="form-group col-md-12">
                    <label class="labelPacientes" for="emailPaciente">Correo electronico</label>
                    <input type="email" class="form-control" id="emailPaciente" placeholder="Correo electronico"
                        formControlName="email">
                    <div *ngIf="formularioRegistroPaciente.get('email')?.invalid && (formularioRegistroPaciente.get('email')?.dirty || formularioRegistroPaciente.get('email')?.touched)"
                        class="alert alert-danger py-1 mt-1">
                        <div *ngIf="formularioRegistroPaciente.get('email')?.errors?.['required']">
                            El correo electronico es requerido.
                        </div>
                        <div *ngIf="formularioRegistroPaciente.get('email')?.errors?.['email']">
                            El correo electronico debe ser valido.
                        </div>
                        <div *ngIf="formularioRegistroPaciente.get('email')?.errors?.['invalid']">
                            El correo electronico ya se encuentra registrado.
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-around mb-4 px-2">
                <div class="form-group col-md-6 pe-2">
                    <label class="labelPacientes" for="passwordPaciente">Contraseña</label>
                    <input type="password" class="form-control" id="passwordPaciente" placeholder="Contraseña"
                        formControlName="contraseña">
                    <div *ngIf="formularioRegistroPaciente.get('contraseña')?.invalid && (formularioRegistroPaciente.get('contraseña')?.dirty || formularioRegistroPaciente.get('contraseña')?.touched)"
                        class="alert alert-danger py-1 mt-1">
                        <div *ngIf="formularioRegistroPaciente.get('contraseña')?.errors?.['required']">
                            El campo contraseña es requerido.
                        </div>
                        <div *ngIf="formularioRegistroPaciente.get('contraseña')?.errors?.['minlength']">
                            El campo contraseña debe tener al menos 6 digitos.
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-6 ps-2">
                    <label class="labelPacientes" for="repetirPasswordPaciente">Repetir contraseña</label>
                    <input type="password" class="form-control" id="repetirPasswordPaciente"
                        formControlName="repetirContraseña" placeholder="Repetir Contraseña">
                    <div *ngIf="formularioRegistroPaciente.get('repetirContraseña')?.invalid && (formularioRegistroPaciente.get('repetirContraseña')?.dirty || formularioRegistroPaciente.get('repetirContraseña')?.touched)"
                        class="alert alert-danger py-1 mt-1">
                        <div *ngIf="formularioRegistroPaciente.get('repetirContraseña')?.errors?.['required']">
                            El campo repetir contraseña es requerido.
                        </div>
                        <div *ngIf="formularioRegistroPaciente.get('repetirContraseña')?.errors?.['minlength']">
                            El campo repetir contraseña debe tener al menos 6 digitos.
                        </div>
                    </div>
                    <div class="alert alert-danger py-1 mt-1"
                        *ngIf="formularioRegistroPaciente.errors?.['noCoinciden'] && (formularioRegistroPaciente.touched || formularioRegistroPaciente.dirty)">
                        Los campos contraseña y repetir contraseña deben coincidir.
                    </div>
                </div>
            </div>

            <div class="d-flex flex-column justify-content-around mb-4 px-2">
                <div class="form-group col-md-12 pe-2">
                    <label class="labelPacientes" for="imagenPerfilPac">Imagen de Perfil</label>
                    <input type="file" (cambioArchivo)="subioImagenPerfil($event, 'paciente')"
                        formControlName="imagenPerfil" class="form-control" id="imagenPerfilPac">
                </div>

                <div *ngIf="formularioRegistroPaciente.get('imagenPerfil')?.invalid && (formularioRegistroPaciente.get('imagenPerfil')?.dirty || formularioRegistroPaciente.get('imagenPerfil')?.touched)"
                    class="alert alert-danger py-1 mt-1">
                    <div *ngIf="formularioRegistroPaciente.get('imagenPerfil')?.errors?.['required']">
                        La imagen del perfil es obligatoria.
                    </div>
                </div>
                <div class="alert alert-danger py-1 mt-1 mt-2"
                    *ngIf="formularioRegistroPaciente.errors?.['formatoIncorrecto']">
                    La campo imagen perfil debe tener una extension de imagen (PNG, JPG,JPEG).
                </div>
                <div class="alert alert-danger py-1 mt-1 mt-1"
                    *ngIf="formularioRegistroPaciente.errors?.['excedioTamaño']">
                    La campo imagen de perfil no debe exceder los 10MB.
                </div>
            </div>

            <div class="d-flex col-md-12 justify-content-around">
                <input type="submit" value="Crear paciente" class="btn btn-success">
                <input type="submit" value="Reiniciar Formulario" class="btn btn-secondary"
                    (click)="limpiarFormulario()">
            </div>
        </form>
    </div>
    <div *ngSwitchCase="'especialistas'">
        <h2 id="tituloEspecialista" class="text-center p-3">Ingreso de Especialistas</h2>
        <form [formGroup]="formularioRegistroEspecialista" (ngSubmit)="registrarEspecialista()">
            <div class="d-flex justify-content-around mb-4">
                <div class="form-group col-md-5">
                    <label class="labelEspecialista" for="nombreEspecialista">Nombre del
                        especialista</label>
                    <input type="text" class="form-control" id="nombreEspecialista" placeholder="Nombre"
                        formControlName="nombre">
                </div>
                <div class="form-group col-md-6">
                    <label class="labelEspecialista" for="apellidoEspecialista">Apellido</label>
                    <input type="text" class="form-control" id="apellidoEspecialista" placeholder="Apellido"
                        formControlName="apellido">
                </div>
            </div>

            <div class="d-flex justify-content-around mb-4">
                <div class="form-group col-md-4">
                    <label class="labelEspecialista" for="edadPaciente">Edad</label>
                    <input type="number" class="form-control" id="edadPaciente" placeholder="Edad"
                        formControlName="edad">
                    <div *ngIf="formularioRegistroEspecialista.get('edad')?.invalid && (formularioRegistroEspecialista.get('edad')?.dirty || formularioRegistroEspecialista.get('edad')?.touched)"
                        class="alert alert-danger py-1 mt-1">
                        <div *ngIf="formularioRegistroEspecialista.get('edad')?.errors?.['required']">
                            El campo edad es requerido.
                        </div>
                        <div *ngIf="formularioRegistroEspecialista.get('edad')?.errors?.['min']">
                            El campo edad debe ser al menos 1.
                        </div>
                        <div *ngIf="formularioRegistroEspecialista.get('edad')?.errors?.['max']">
                            El campo edad debe ser como maximo 99.
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-7">
                    <label class="labelEspecialista" for="documentoEspecialista">DNI</label>
                    <input type="number" class="form-control" id="documentoEspecialista" placeholder="N° Documento"
                        formControlName="documento">
                    <div *ngIf="formularioRegistroEspecialista.get('documento')?.invalid && (formularioRegistroEspecialista.get('documento')?.dirty || formularioRegistroEspecialista.get('documento')?.touched)"
                        class="alert alert-danger py-1 mt-1">
                        <div *ngIf="formularioRegistroEspecialista.get('documento')?.errors?.['required']">
                            El DNI es requerido.
                        </div>
                        <div *ngIf="formularioRegistroEspecialista.get('documento')?.errors?.['min']">
                            El DNI debe ser al menos 4.000.000
                        </div>
                        <div *ngIf="formularioRegistroEspecialista.get('documento')?.errors?.['max']">
                            El DNI debe tener como maximo 8 digitos
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-around mb-4 px-2">
                <div class="form-group col-md-6 ps-3">
                    <label for="especialidad" class="labelEspecialista">Especialidad</label>
                    <input id="especialidad" placeholder="Especialidad" type="text" class="form-control"
                        formControlName="especialidad" [ngbTypeahead]="buscarEspecialidad"
                        (focus)="focus$.next($any($event).target.value)" [editable]="true"
                        (click)="click$.next($any($event).target.value)" #selectEsp="ngbTypeahead" />
                    <div *ngIf="formularioRegistroEspecialista.get('especialidad')?.invalid && (formularioRegistroEspecialista.get('especialidad')?.dirty || formularioRegistroEspecialista.get('especialidad')?.touched)"
                        class="alert alert-danger mt-3">
                        <div *ngIf="formularioRegistroEspecialista.get('especialidad')?.errors?.['required']">
                            El campo especialidad es requerido.
                        </div>
                        <div *ngIf="formularioRegistroEspecialista.get('especialidad')?.errors?.['minlength']">
                            El campo especialidad debe contener como minimo 6 caracteres.
                        </div>
                        <div *ngIf="formularioRegistroEspecialista.get('especialidad')?.errors?.['maxlength']">
                            El campo especialidad debe contener como maximo 255 caracteres.
                        </div>
                    </div>

                    <ng-template #rt let-r="result" let-t="term">
                        <ngb-highlight [result]="r.nombre" [term]="t"></ngb-highlight>
                    </ng-template>
                </div>

                <div class="form-group col-md-6 ps-3">
                    <label class="labelEspecialista" for="nroMatriculaEspecialista">Numero de Matricula</label>
                    <input type="number" class="form-control" id="nroMatriculaEspecialista"
                        formControlName="nroMatricula" placeholder="N° Matricula profesional">
                </div>
            </div>

            <div class="d-flex justify-content-around mb-4 px-2">
                <div class="form-group col-md-12">
                    <label class="labelEspecialista" for="emailEspecialista">Correo electronico</label>
                    <input type="email" class="form-control" id="emailEspecialista" placeholder="Correo electronico"
                        formControlName="email">
                </div>
                <div *ngIf="formularioRegistroEspecialista.get('email')?.invalid && (formularioRegistroEspecialista.get('email')?.dirty || formularioRegistroEspecialista.get('email')?.touched)"
                    class="alert alert-danger py-1 mt-1">
                    <div *ngIf="formularioRegistroEspecialista.get('email')?.errors?.['required']">
                        El correo electronico es requerido.
                    </div>
                    <div *ngIf="formularioRegistroEspecialista.get('email')?.errors?.['email']">
                        El correo electronico debe ser valido.
                    </div>
                    <div *ngIf="formularioRegistroEspecialista.get('email')?.errors?.['invalid']">
                        El correo electronico ya se encuentra registrado.
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-around mb-4 px-2">
                <div class="form-group col-md-6 pe-2">
                    <label class="labelEspecialista" for="passwordEspecialista">Contraseña</label>
                    <input type="password" class="form-control" id="passwordEspecialista" placeholder="Contraseña"
                        formControlName="contraseña">
                    <div *ngIf="formularioRegistroEspecialista.get('contraseña')?.invalid && (formularioRegistroEspecialista.get('contraseña')?.dirty || formularioRegistroEspecialista.get('contraseña')?.touched)"
                        class="alert alert-danger py-1 mt-1">
                        <div *ngIf="formularioRegistroEspecialista.get('contraseña')?.errors?.['required']">
                            El campo contraseña es requerido.
                        </div>
                        <div *ngIf="formularioRegistroEspecialista.get('contraseña')?.errors?.['minlength']">
                            El campo contraseña debe tener al menos 6 digitos.
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-6 ps-2">
                    <label class="labelEspecialista" for="repetirPasswordEspecialista">Repetir contraseña</label>
                    <input type="password" class="form-control" id="repetirPasswordEspecialista"
                        formControlName="repetirContraseña" placeholder="Repetir Contraseña">
                    <div *ngIf="formularioRegistroEspecialista.get('repetirContraseña')?.invalid && (formularioRegistroEspecialista.get('repetirContraseña')?.dirty || formularioRegistroEspecialista.get('repetirContraseña')?.touched)"
                        class="alert alert-danger py-1 mt-1">
                        <div *ngIf="formularioRegistroEspecialista.get('repetirContraseña')?.errors?.['required']">
                            El campo repetir contraseña es requerido.
                        </div>
                        <div *ngIf="formularioRegistroEspecialista.get('repetirContraseña')?.errors?.['minlength']">
                            El campo repetir contraseña debe tener al menos 6 digitos.
                        </div>
                    </div>
                    <div class="alert alert-danger py-1 mt-1"
                        *ngIf="formularioRegistroEspecialista.errors?.['noCoinciden'] && (formularioRegistroEspecialista.touched || formularioRegistroEspecialista.dirty)">
                        Los campos contraseña y repetir contraseña deben coincidir.
                    </div>
                </div>
            </div>

            <div class="d-flex flex-column justify-content-around mb-4 px-2">
                <div class="form-group col-md-12 pe-2">
                    <label class="labelEspecialista" for="imagenPerfilEsp">Imagen de Perfil</label>
                    <input type="file" (cambioArchivo)="subioImagenPerfil($event, 'especialista')"
                        formControlName="imagenPerfil" class="form-control" id="imagenPerfilEsp">
                </div>

                <div *ngIf="formularioRegistroEspecialista.get('imagenPerfil')?.invalid && (formularioRegistroEspecialista.get('imagenPerfil')?.dirty || formularioRegistroEspecialista.get('imagenPerfil')?.touched)"
                    class="alert alert-danger py-1 mt-1">
                    <div *ngIf="formularioRegistroEspecialista.get('imagenPerfil')?.errors?.['required']">
                        La imagen del perfil es obligatoria.
                    </div>
                </div>
                <div class="alert alert-danger py-1 mt-1 mt-2"
                    *ngIf="formularioRegistroEspecialista.errors?.['formatoIncorrecto']">
                    La campo imagen perfil debe tener una extension de imagen (PNG, JPG,JPEG).
                </div>
                <div class="alert alert-danger py-1 mt-1 mt-1"
                    *ngIf="formularioRegistroEspecialista.errors?.['excedioTamaño']">
                    La campo imagen de perfil no debe exceder los 10MB.
                </div>
            </div>

            <div class="d-flex col-md-12 justify-content-around">
                <input type="submit" value="Crear especialista" class="btn btn-success">
                <input type="button" value="Reiniciar Formulario" class="btn btn-secondary"
                    (click)="limpiarFormulario()">
            </div>
        </form>
    </div>
    <div *ngSwitchCase="'administradores'">
        <h2 id="tituloAdministrador" class="text-center p-3">Ingreso de Administradores</h2>
        <form [formGroup]="formularioRegistroAdministrador" (ngSubmit)="registrarAdministrador()">
            <div class="d-flex justify-content-around mb-4">
                <div class="form-group col-md-5">
                    <label class="labelAdministrador" for="nombreAdministrador">Nombre del
                        administrador</label>
                    <input type="text" class="form-control" id="nombreAdministrador" placeholder="Nombre"
                        formControlName="nombre">
                </div>
                <div class="form-group col-md-6">
                    <label class="labelAdministrador" for="apellidoAdministrador">Apellido</label>
                    <input type="text" class="form-control" id="apellidoAdministrador" placeholder="Apellido"
                        formControlName="apellido">
                </div>
            </div>

            <div class="d-flex justify-content-around mb-4">
                <div class="form-group col-md-4">
                    <label class="labelAdministrador" for="edadPaciente">Edad</label>
                    <input type="number" class="form-control" id="edadPaciente" placeholder="Edad"
                        formControlName="edad">
                    <div *ngIf="formularioRegistroAdministrador.get('edad')?.invalid && (formularioRegistroAdministrador.get('edad')?.dirty || formularioRegistroAdministrador.get('edad')?.touched)"
                        class="alert alert-danger py-1 mt-1">
                        <div *ngIf="formularioRegistroAdministrador.get('edad')?.errors?.['required']">
                            El campo edad es requerido.
                        </div>
                        <div *ngIf="formularioRegistroAdministrador.get('edad')?.errors?.['min']">
                            El campo edad debe ser al menos 1.
                        </div>
                        <div *ngIf="formularioRegistroAdministrador.get('edad')?.errors?.['max']">
                            El campo edad debe ser como maximo 99.
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-7">
                    <label class="labelAdministrador" for="documentoAdministrador">DNI</label>
                    <input type="number" class="form-control" id="documentoAdministrador" placeholder="N° Documento"
                        formControlName="documento">
                    <div *ngIf="formularioRegistroAdministrador.get('documento')?.invalid && (formularioRegistroAdministrador.get('documento')?.dirty || formularioRegistroAdministrador.get('documento')?.touched)"
                        class="alert alert-danger py-1 mt-1">
                        <div *ngIf="formularioRegistroAdministrador.get('documento')?.errors?.['required']">
                            El DNI es requerido.
                        </div>
                        <div *ngIf="formularioRegistroAdministrador.get('documento')?.errors?.['min']">
                            El DNI debe ser al menos 4.000.000
                        </div>
                        <div *ngIf="formularioRegistroAdministrador.get('documento')?.errors?.['max']">
                            El DNI debe tener como maximo 8 digitos
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-around mb-4 px-2">
                <div class="form-group col-md-12">
                    <label class="labelAdministrador" for="emailAdministrador">Correo electronico</label>
                    <input type="email" class="form-control" id="emailAdministrador" placeholder="Correo electronico"
                        formControlName="email">
                </div>
                <div *ngIf="formularioRegistroAdministrador.get('email')?.invalid && (formularioRegistroAdministrador.get('email')?.dirty || formularioRegistroAdministrador.get('email')?.touched)"
                    class="alert alert-danger py-1 mt-1">
                    <div *ngIf="formularioRegistroAdministrador.get('email')?.errors?.['required']">
                        El correo electronico es requerido.
                    </div>
                    <div *ngIf="formularioRegistroAdministrador.get('email')?.errors?.['email']">
                        El correo electronico debe ser valido.
                    </div>
                    <div *ngIf="formularioRegistroAdministrador.get('email')?.errors?.['invalid']">
                        El correo electronico ya se encuentra registrado.
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-around mb-4 px-2">
                <div class="form-group col-md-6 pe-2">
                    <label class="labelAdministrador" for="passwordAdministrador">Contraseña</label>
                    <input type="password" class="form-control" id="passwordAdministrador" placeholder="Contraseña"
                        formControlName="contraseña">
                    <div *ngIf="formularioRegistroAdministrador.get('contraseña')?.invalid && (formularioRegistroAdministrador.get('contraseña')?.dirty || formularioRegistroAdministrador.get('contraseña')?.touched)"
                        class="alert alert-danger py-1 mt-1">
                        <div *ngIf="formularioRegistroAdministrador.get('contraseña')?.errors?.['required']">
                            El campo contraseña es requerido.
                        </div>
                        <div *ngIf="formularioRegistroAdministrador.get('contraseña')?.errors?.['minlength']">
                            El campo contraseña debe tener al menos 6 digitos.
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-6 ps-2">
                    <label class="labelAdministrador" for="repetirPasswordAdministrador">Repetir contraseña</label>
                    <input type="password" class="form-control" id="repetirPasswordAdministrador"
                        formControlName="repetirContraseña" placeholder="Repetir Contraseña">
                    <div *ngIf="formularioRegistroAdministrador.get('repetirContraseña')?.invalid && (formularioRegistroAdministrador.get('repetirContraseña')?.dirty || formularioRegistroAdministrador.get('repetirContraseña')?.touched)"
                        class="alert alert-danger py-1 mt-1">
                        <div *ngIf="formularioRegistroAdministrador.get('repetirContraseña')?.errors?.['required']">
                            El campo repetir contraseña es requerido.
                        </div>
                        <div *ngIf="formularioRegistroAdministrador.get('repetirContraseña')?.errors?.['minlength']">
                            El campo repetir contraseña debe tener al menos 6 digitos.
                        </div>
                    </div>
                    <div class="alert alert-danger py-1 mt-1"
                        *ngIf="formularioRegistroAdministrador.errors?.['noCoinciden'] && (formularioRegistroAdministrador.touched || formularioRegistroAdministrador.dirty)">
                        Los campos contraseña y repetir contraseña deben coincidir.
                    </div>
                </div>
            </div>

            <div class="d-flex flex-column justify-content-around mb-4 px-2">
                <div class="form-group col-md-12 pe-2">
                    <label class="labelAdministrador" for="imagenPerfilEsp">Imagen de Perfil</label>
                    <input type="file" (cambioArchivo)="subioImagenPerfil($event, 'administrador')"
                        formControlName="imagenPerfil" class="form-control" id="imagenPerfilPac">
                </div>

                <div *ngIf="formularioRegistroAdministrador.get('imagenPerfil')?.invalid && (formularioRegistroAdministrador.get('imagenPerfil')?.dirty || formularioRegistroAdministrador.get('imagenPerfil')?.touched)"
                    class="alert alert-danger py-1 mt-1">
                    <div *ngIf="formularioRegistroAdministrador.get('imagenPerfil')?.errors?.['required']">
                        La imagen del perfil es obligatoria.
                    </div>
                </div>
                <div class="alert alert-danger py-1 mt-1 mt-2"
                    *ngIf="formularioRegistroAdministrador.errors?.['formatoIncorrecto']">
                    La campo imagen perfil debe tener una extension de imagen (PNG, JPG,JPEG).
                </div>
                <div class="alert alert-danger py-1 mt-1 mt-1"
                    *ngIf="formularioRegistroAdministrador.errors?.['excedioTamaño']">
                    La campo imagen de perfil no debe exceder los 10MB.
                </div>
            </div>

            <div class="d-flex col-md-12 justify-content-around">
                <input type="submit" value="Crear administrador" class="btn btn-success">
                <input type="button" value="Reiniciar Formulario" (click)="limpiarFormulario()"
                    class="btn btn-secondary">
            </div>
        </form>
    </div>
</div>