<footer class="pt-3 my-md-2 pt-md-3 border-top">
    <div class="row text-center">
        <div class="col-12 col-md">
            <a href="/">
                <img class="mb-2" src="./assets/miClinica.png" alt="MiClinica" width="218">
            </a>
            <small class="d-block mb-3 text-muted">© 2021–2023</small>
        </div>
        <div *ngIf="!usuariosService.hayUsuarioIngresado(); else footerIngresado" class="col-6 col-md">
            <h5>Formá parte de MiClinica</h5>
            <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none" routerLink="/ingresar">Ingresar al
                        sistema</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" routerLink="/registro">Unirse a
                        MiClinica</a></li>
            </ul>
        </div>
        <ng-template #footerIngresado>
            <div class="col-6 col-md">
                <h5>Sistema de turnos</h5>
                <ul class="list-unstyled text-small">
                    <li class="mb-1"><a class="link-secondary text-decoration-none" routerLink="/turnos">Mis turnos</a>
                    </li>
                </ul>
            </div>
            <ng-container *ngIf="usuariosService.usuarioIngresado?.isAdmin()">
                <div class="col-6 col-md">
                    <h5>Funciones administrador</h5>
                    <ul class="list-unstyled text-small">
                        <li class="mb-1"><a class="link-secondary text-decoration-none" routerLink="/usuarios">Usuarios
                                ingresados</a>
                        </li>
                    </ul>
                </div>
            </ng-container>
            <ng-container *ngIf="usuariosService.usuarioIngresado?.tipoUsuario == 'especialista'">
                <div class="col-6 col-md">
                    <h5>Funciones especialista</h5>
                    <ul class="list-unstyled text-small">
                        <li class="mb-1"><a class="link-secondary text-decoration-none" routerLink="/pacientes">Mis
                                pacientes</a>
                        </li>
                    </ul>
                </div>
            </ng-container>
        </ng-template>
    </div>
</footer>