<div class="container">
    <div class="row d-flex align-items-end py-4">
        <div class="col-lg-4">
            <app-acceso-rapido class=" acceso-rapido" />
        </div>
        <div class="col-lg-8">
            <div class="d-flex justify-content-between align-items-end">
                <div class="flex-fill login-box">
                    <div class="col-lg-12 login-key">
                        <i class="bi bi-key-fill" style="font-size:6rem!important"></i>
                    </div>
                    <div class="col-lg-12 login-title">
                        Ingreso de usuario
                    </div>

                    <div class="col-lg-12 login-form px-3">
                        <div class="col-lg-12 login-form">
                            <form [formGroup]="formularioIngreso" (ngSubmit)="ingresar()">
                                <div class="form-group">
                                    <label class="form-control-label">Correo electronico</label>
                                    <input type="text" class="form-control" formControlName="email">
                                    <div *ngIf="formularioIngreso.get('email')?.invalid && (formularioIngreso.get('email')?.dirty || formularioIngreso.get('email')?.touched)"
                                        class="alert alert-danger py-1 mt-1">
                                        <div *ngIf="formularioIngreso.get('email')?.errors?.['required']">
                                            El correo electronico es requerido.
                                        </div>
                                        <div *ngIf="formularioIngreso.get('email')?.errors?.['email']">
                                            El correo electronico debe ser valido.
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">Contraseña</label>
                                    <input type="password" class="form-control" formControlName="contraseña">
                                    <div *ngIf="formularioIngreso.get('contraseña')?.invalid && (formularioIngreso.get('contraseña')?.dirty || formularioIngreso.get('contraseña')?.touched)"
                                        class="alert alert-danger py-1 mt-1">
                                        <div *ngIf="formularioIngreso.get('contraseña')?.errors?.['required']">
                                            El campo contraseña es requerido.
                                        </div>
                                        <div *ngIf="formularioIngreso.get('contraseña')?.errors?.['minlength']">
                                            El campo contraseña debe tener al menos 6 digitos.
                                        </div>
                                        <div *ngIf="formularioIngreso.get('contraseña')?.errors?.['invalid']">
                                            El correo electronico o contraseña ingresados son incorrectos.
                                        </div>
                                        <div *ngIf="formularioIngreso.get('contraseña')?.errors?.['unverified']">
                                            Verifique el email enviado a su correo electronico para continuar.
                                        </div>
                                        <div *ngIf="formularioIngreso.get('contraseña')?.errors?.['blocked-user']">
                                            El acceso al sistema para este usuario se encuentra deshabilitado.
                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-center loginbttm">
                                    <div class="login-btm login-button">
                                        <button type="submit"
                                            class="btn btn-outline-primary text-white">Ingresar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>