<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img [src]="usuario.pathImagen" alt="avatar" class="rounded-circle img-fluid"
                            style="width: 150px;">
                        <h5 class="my-3">{{usuario.nombre}}</h5>
                        <p class="text-muted mb-1">DNI {{usuario.dni}}</p>
                        <p class="text-muted mb-4">{{usuario.edad}} años</p>
                        <div class="d-flex justify-content-center mb-2">
                            <button type="button" class="btn btn-danger">Deshabilitar cuenta</button>
                        </div>
                    </div>
                </div>
            </div>
            <div [@openClose]="isOpen ? 'open' : 'closed'" class="open-close-container col-lg-8">
                <h3>Datos</h3>
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Nombre completo</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{usuario.nombre}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Correo electronico</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{usuario.email}}</p>
                            </div>
                        </div>
                        <hr>
                        <ng-container *ngIf="usuario.tipoUsuario == 'paciente'">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Obra social/Prepaga</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{(usuario | castToPaciente).obraSocial}}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Número de afiliado</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{(usuario | castToPaciente).nroAfiliado}}</p>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
                <div *ngIf="!usuario?.isAdmin()" class="row">
                    <div class="d-flex mb-2 align-items-center">
                        <div class="d-flex flex-column me-3">
                            <h3>Historial clinico</h3>
                            <form class="d-flex mb-3" [formGroup]="formularioFiltros">
                                <div class="form-group col-md-12">
                                    <label for="especialidad"
                                        class="col-xs-3 col-sm-auto col-col-xs-3 col-sm-auto col-form-label">Buscar por
                                        especialidad:</label>
                                    <input id="especialidad" type="text" class="form-control"
                                        formControlName="especialidad" [ngbTypeahead]="buscarEspecialidad"
                                        (focus)="focus$.next($any($event).target.value)"
                                        (click)="click$.next($any($event).target.value)" #selectEsp="ngbTypeahead" />
                                    <div *ngIf="formularioFiltros.get('especialidad')?.invalid && (formularioFiltros.get('especialidad')?.dirty || formularioFiltros.get('especialidad')?.touched)"
                                        class="alert alert-danger mt-3">
                                        <div *ngIf="formularioFiltros.get('especialidad')?.errors?.['minlength']">
                                            El campo especialidad debe contener como minimo 6 caracteres.
                                        </div>
                                        <div *ngIf="formularioFiltros.get('especialidad')?.errors?.['maxlength']">
                                            El campo especialidad debe contener como maximo 255 caracteres.
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <button (click)="descargarPDF()" class="btn btn-success" style="max-height: 10vh;">Descargar
                            PDF</button>
                    </div>
                    <app-historial [especialidad]="especialidadTurno" [usuario]="usuario"
                        [mostrarImagenPerfil]="false" />
                </div>
            </div>
        </div>
    </div>
</section>