<section class="d-flex justify-content-around p-4 px-5">
    <article class="bg-light">
        <img class="img-home" [@imagenOculta]="ocultarImagen ? 'oculta' : 'mostrar'"
            src="https://images.unsplash.com/photo-1602052577122-f73b9710adba?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" />
    </article>
    <article class="flex-fill p-2 bg-light pt-4">
        <h3 class="text-center pt-2 pb-2">MiClinica S.A. - Medicina prepaga</h3>
        <p class="info-clinica lh-base px-2">
            La empresa de medicina prepaga MiClinica ha superado los 20 años de vida, en los que sin duda ha
            transitado por diversas situaciones, desde ser la empresa de salud más requerida por los argentinos hasta
            poner en riesgo su continuidad por problemas financieros.
            <br><br>Hoy en día, MiClinica sigue siendo una prepaga muy
            elegida fundamentalmente en Capital y Gran Buenos Aires, fundamentalmente por el respaldo del grupo
            empresario que tiene detrás.
            <br><br>
            Esta ideología, ha sido la base de su estrategia durante estos 20 años, para crecer en el sector salud y
            posicionarse como una de las primeras empresas líder del mercado, apoyándose en todas las herramientas
            necesarias, como los avances tecnológicos de la medicina, las investigaciones biológicas, la formación y
            actualización y el conocimiento de los pacientes.
        </p>
    </article>
</section>